{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-me.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          Hello visitor! Welcome to my digital realm! I'm a graduate with a Master's in Ecology, passionate about life science and Python programming!
        </p>
        <p>
          My coding journey started from 2022. During my off-work hours, I've learnt front-end web development, back-end data analysis, and even dabbled in creating games like Snake.
        </p>
        <p>
          In the realm of front-end, I've acquired skills in HTML and CSS, along with using tools like Flask and Bootstrap to bring this Blog web space to life. I've also set up a SQL database, allowing you to sign in and leave comments on my programs if you like!
        </p>
        <p>The back-end, however, has become my focal point. Thanks to my research experiences, I'm fascinated about unraveling stories concealed within the data. I've built my skills in Pandas, Numpy, SQL, and Matplotlib, enabling me to create beautiful graphs through coding instead of Excel. In any case, I'm consistently improving my knowledge of statistics, a skill I believe will be helpful for my research in life science!</p>
        <p>Stick around to explore this journey with me . 🚀✨</p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
